@import '../../node_modules/normalize.css/normalize';

*,
h1,
fieldset {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  word-wrap: break-word;
}

iframe {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  &[type='search'] {
    appearance: none;
  }
}
