html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after,
input[type=search] {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

textarea,
input:not([type=checkbox]):not([type=radio]) {
  border-radius: 0;
  -webkit-appearance: none;
}