@import '../../node_modules/normalize.css/normalize';

*,
::before,
::after {
  flex: 0 1 auto;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  overflow-x: hidden;
}

button,
[type='submit'] {
  cursor: pointer;
}

iframe {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

[type='search'] {
  appearance: none;
}

[data-whatinput='mouse'],
[data-whatinput='touch'] {
  :focus {
    outline: 0;
  }
}
