// clear
@mixin clear {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

// container
@mixin container($max: 80rem) {
  max-width: $max;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include mq(48em) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include mq(80em) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

// hide
@mixin hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// media query
@mixin mq($min: 0, $max: 0) {
  @if ($min > 0 and $max > 0) {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if ($min > 0) {
    @media (min-width: $min) {
      @content;
    }
  } @else if ($max > 0) {
    @media (max-width: $max) {
      @content;
    }
  }
}

// underline
@mixin underline($color: currentColor, $position: 100%, $size: 0.0625rem) {
  background-image: linear-gradient($color, $color);
  background-repeat: repeat-x;
  background-position: 0 $position;
  background-size: 100% $size;
}
